<html>
                    <head>
                        <link href="/static/css/style.css" rel="stylesheet">
                       <script src="/static/js/main.js"></script>
                    </head>
                    <body>
                        
                    <span id="time_display"><h3>{{time_val_for_tmp}}</h3></span>
                        <audio controls>
                            <source src="/static/files/cheever_girls2.mp3" type="audio/mpeg">
                            Your browser does not support the audio element.
                        </audio><br/>
                                                <audio controls>
                            <source src="/sys/Users/peterducharme/Desktop/cheever_girls2.mp3" type="audio/mpeg">
                            Your browser does not support the audio element.
                        </audio>
                    </body>
                </html>